.nav-container {
    display: flex;
    justify-content: end;
    align-items: center;
}
  
.nav-button {
    background: none;
    border: none;
    z-index: 10;
}
  
.nav-links {
    height: 650px;
    width: 100%;
    background-color: hsl(0, 0%, 0%);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.nav-inner-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    height: 100%;
}
  
.nav-link {
    text-decoration: none;
    font-size: 2rem;
    font-family: var(--josefin-sans);
    text-transform: uppercase;
    color: var(--white);
    margin-bottom: 24px;
    cursor: pointer;
}
  
#nav-links-desktop {
    display: none;
    visibility: hidden;
}
  
@media screen and (min-width: 376px) {
    .nav {
        width: 80%;
    }
}
  
@media screen and (min-width: 1440px) {
    .nav-container {
        justify-content: space-between;
        width: 40%;
    }
    #nav-hamburger {
        display: none;
        visibility: hidden;
    }

    .nav-inner-wrapper {
        display: none;
        visibility: hidden;
    }

    #nav-links-desktop {
        display: block;
        visibility: visible;
        display: flex;
        justify-content: space-between;
    }

    #nav-links-desktop a:hover::after {
        content: "";
        display: block;
        position: relative;
        width: 40%;
        top: 25%;
        left: 30%;
        border-top: 1px solid white;
    }

    #nav-links-desktop a:not(:last-child) {
        margin-right: 2rem;
    }

    .nav-link {
        font-family: var(--alata);
        font-size: 1.063rem;
        font-weight: 300;
        color: hsl(0, 0%, 100%);
        text-decoration: none;
        text-transform: none;
        margin: 0;
    }
}